h1{
    width: auto;
    margin: 50px 50px 50px 50px;
}
body{
    background-color:azure;
    color:darkslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    margin: auto;
    width: 50%;
}
button{
    width: auto;
    margin: 50px 5px 50px 5px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}