*{
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}
header{
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-radius: 25px;
}
nav{
    width: auto;
    height: 50%;
    float: right;
}
nav ul {
    height: 50%;
}
nav li{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    width: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px
}
nav li:hover{
    background-color: white;
}
nav li:hover a{
    color: cornflowerblue;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: cornflowerblue;
}
h1{
    text-align: center;
}
main{
    position: relative;
    width: 100%;
    top: 90px;

    border: 5px solid white;
}
.leftSide .headshot {
    border-radius: 25px;
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.aboutMe .leftSide {
    height: 500px;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}
.aboutMe .rightSide {
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    float: left;
}
.aboutMe h2 {
    
}
.banner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: cornflowerblue;
}
.banner h1{
    color: white;
}

/* border: 5px solid red; */