*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
header{
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-radius: 25px;
}
nav{
    width: auto;
    height: 50%;
    float: right;
}
nav ul {
    height: 50%;
}
nav li{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    width: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px
}
nav li:hover{
    background-color: white;
}
nav li:hover a{
    color: cornflowerblue;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: cornflowerblue;
}
h1{
    text-align: center;
}
main{
    position: relative;
    top: 150px;
}
.banner{
    background-color: cornflowerblue;
    height: 100px;
    width: 100%;
}
.banner h1{
    width: auto;
    text-align: center;
    height: auto;
    color:red;
}